<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href= "/public/assets/modal.css" rel="stylesheet" type="text/css" />
    <link href= "/public/assets/form.css" rel="stylesheet" type="text/css" />
    <title>Deckbay</title>
</head>
<body class="content">
    <div class="header">
        <a href="www.google.com"> <img src="/public/assets/logo.png"></a>
        <button class="header_button" id="register_button">Sign up</button>
        <button class="header_button" id="login_button">Sign in</button>
    </div>

    <div style="display: flex; justify-content: space-between; margin-left: 15%; margin-right: 15%; margin-top: 100px;">
        <%- include('game', {game_type: 'CHESS',
                             game_icon: 'chess_icon.png'}); %>
        <%- include('game', {game_type: 'CHECKERS',
                             game_icon: 'checkers_icon.png'}); %>
        <%- include('game', {game_type: 'DOMINO',
                             game_icon: 'domino_icon.png'}); %>
    </div>

    <%- include('modal.ejs', {id: 'register_modal'}); %>
    <%- include('modal.ejs', {id: 'login_modal'}); %>

    <footer>
        2020-2021 | Deckbay by GBS
    </footer>
</body>

<script src="src/modal_handler.js"></script>

</html>